<div class="container">
  <table class="table m-4 text-lg-center" *ngIf="products">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products._embedded.products">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.prix}}</td>
        <td>{{p.quantity}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!products" class="text-lg-center m-4">
     <pre class="text-danger"> Aucun produit pour afficher </pre>
  </div>
</div>
