<div class="container m-5">
  <div class="row ">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Order ID= {{ orderId }}
        </div>
        <div class="card-body text-sm-start">
          <ul class="list-group">
            <li class="list-group-item"> Date of Billing : {{bills.billingDate | date : "YYYY-MM-dd"}} </li>
            <li class="list-group-item"> Customer Id : {{bills.customer.id}} </li>
            <li class="list-group-item"> Customer Name : {{bills.customer.name}} </li>
            <li class="list-group-item"> Customer Email : {{bills.customer.email}} </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
     <div class="card">
       <div class="card-header">
         Product  Items
       </div>
       <div class="card-body">
          <table  class="table table-sm text-lg-center">
            <thead>
               <tr>
                 <th class="bg-dark text-white" >ID</th>
                 <th class="bg-dark text-white" >Quantity</th>
                 <th class="bg-dark text-white" >Price</th>
                 <th class="bg-dark text-white" >Product ID</th>
                 <th class="bg-dark text-white" >Product Name</th>
               </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of bills.productItems">
                <td>{{product.id}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>
                <td>{{product.product.id}}</td>
                <td>{{product.product.name}}</td>
              </tr>
            </tbody>
          </table>
       </div>
     </div>
    </div>
  </div>
</div>
